/*-- scss:defaults --*/
$callout-color-note: #0A89FF;
$callout-color-tip: #07B07B;

/*-- scss:rules --*/
.exercise {
  background-color: #fdfdfd;
  padding: 0.125rem 0.5rem 0rem 0.5rem;
  border-radius: 0.25rem;
  border: 0.075rem solid #d9d9d9;
}