/*-- scss:defaults --*/
$blue: #0A89FF;
$green: #07B07B;
$red:#D33F49;
$orange: #FE9920;
$yellow: #EFD34B;

/*-- scss:rules --*/
.exercise {
  background-color: #fdfdfd;
  padding: 0.125rem 0.5rem 0rem 0.5rem;
  border-radius: 0.25rem;
  border: 0.075rem solid #d9d9d9;
}

.cell-output-error {
  border-radius: 0.25rem;
  border: 0.075rem solid $red;
  border-left-color: $red;
  border-left-width: 0.25rem;
  border-left-style: solid;
  // border: 0.075rem solid #d9d9d9;
}