on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      pages: write
    steps:
      - name: Set GitHub PAT
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

      - name: Check out repository
        uses: actions/checkout@v4
      
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v3

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      
      - name: Set up LaTeX dependencies
        run: quarto install tinytex
      
      - name: Install Noto Sans font and pandoc
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-noto fontconfig pandoc
          sudo fc-cache -fv

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.5'

      - name: Install R Dependencies
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 1

      - name: Render
        uses: quarto-dev/quarto-actions/render@v2
        with:
          to: all
        
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./_book

      - name: Deploy to Pages
        id: deployment
        uses: actions/deploy-pages@v4 
